//icon
@import url('/resources/icon.scss');

//font
@import url('https://fonts.cdnfonts.com/css/pp-neue-montreal');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");

body {
  height: 100%;
  overflow: hidden;
  height: 100vh;
  font-family: "PP Neue Montreal";

  #bg {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #000015 0%, #171D77 25%, #4752F7 75%, #A5A6BF 100%);
    .bg__text {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: white;
      height: 100vh;
      .bg__text--1 {
        display: flex;
        flex-direction: column;
        h2 {
          padding-top: 1.6rem;
        }
      }
      h1 {
        font-size: 3.2rem;
        text-transform: uppercase;
      }
      h2 {
        font-family: Pretendard;
        font-size: 1.6rem;
        font-weight: 700;
      }
    }
  }

  .nav {
    position: absolute;
    display: flex;
    gap: 5.8rem;
    left: calc(50vw - 12rem);
    bottom: 4rem;
    display: flex;
    background-color: rgba(255, 255, 255, 0.4);
    width: 24rem;
    height: 10rem;
    padding: 1.6rem;
    border-radius: 1.6rem;
    backdrop-filter: blur(2rem);
    box-shadow: 0 1rem 1.4rem rgba(0, 0, 0, 0.1);

    .nav__symbols {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .nav__symbol {
        width: 2.5rem;
        height: 2.5rem;
      }

      .nav__camera {
        display: flex;
        align-items: center;
        gap: 1rem;
        height: 2.5rem;

        .nav__camera--ic {
          display: flex;
          justify-content: center;
          width: 1.5rem;
          height: 1.5rem;
        }

        .nav__camera--toggle {
          position: relative;
          width: 4.5rem;
          height: 2.5rem;
          border-radius: 8rem;
          background-color: rgba(0, 0, 0, 0.1);

          .nav__camera--toggle_switch {
            position: absolute;
            top: .25rem;
            left: .25rem;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            background: #fff;
          }

          &:hover {
            background-color: #145ce1;
            transition: .5s ease-in-out .2s;

            .nav__camera--toggle_switch {
              transform: translateX(2rem);
              transition: .5s ease-in-out .2s;
            }
          }


          /*
          input[type="checkbox"] {
            display: none;

            &:checked + label {
              background: #145ce1;

              &::after {
                transform: translateX(2rem);
              }
            }

          }

          label {
            position: relative;
            display: inline-block;
            width: 4.5rem;
            height: 2.5rem;
            background-color: rgba(0, 0, 0, 0.1);
            cursor: pointer;
            border-radius: 4rem;

            &::after {
              content: '';
              position: absolute;
              top: .25rem;
              left: .25rem;
              width: 2rem;
              height: 2rem;
              background: white;
              border-radius: 50%;
              transition: 0.3s;
              box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
            }
          }
           */
        }
      }
    }

    .nav__items {
      display: flex;
      flex-direction: column;
      gap: .4rem;
      font-size: 1.2rem;
      font-weight: 500;
      .nav__item {
        color: #000;
        text-decoration: none;
        opacity: .8;
        &:hover {
          transition: .2s ease-in-out;
          opacity: .5;
        }

      }
    }

  }

}