//font
@import url('https://fonts.cdnfonts.com/css/pp-neue-montreal');

body {
  background: #000;
  height: 100vh;
  font-family: "PP Neue Montreal";

  .nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    left: calc(50vw - 12rem);
    bottom: 4rem;
    display: flex;
    background-color: #fff;
    width: 24rem;
    height: 10rem;
    padding: 1rem;
    border-radius: 1.6rem;

    .nav__symbols {
      .nav__symbol {
        width: 2rem;
        height: 2rem;
      }
    }

    .nav__items {
      font-size: 1.2rem;
    }

  }

}