@keyframes barExtend1 {
  0% {
    width: 3.2rem;
    transform: translateY(50%);
  }
  50% {
    width: 3.2rem;
  }
  100% {
    width: 36rem;
    transform: translateY(0%);
  }
}

@keyframes barExtend2 {
  0% {
    opacity: 0;
  }
  35% {
    opacity: 0
  }
  100% {
    opacity: 1;
  }
}

body {
  position: relative;
  font-family: Pretendard;
  background-image: url("https://picsum.photos/1920/1080");
  background-size: cover;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  height: 100vh;


  .searchbox__box {
    animation: barExtend1 1200ms cubic-bezier(0.18, 0.89, 0.25, 1.36);
    gap: 2rem;
    justify-content: space-between;
    padding: 0 .8rem 0 2rem;
    display: flex;
    align-items: center;
    height: 6rem;
    background-color: white;
    border-radius: 4rem;
    border: 1px solid black;
    box-shadow: 0rem 2rem 2rem rgba(0,0,0,0.2);

    .material-symbols-outlined {
      color: black;
      opacity: .4;
      font-size: 2rem;
    }

    .searchbox__field {
      animation: barExtend2 2s ease-in-out;
      border: none;
      outline: none;
      font-size: 1.8rem;

      &:focus + button {
        opacity: 1;
        outline: none;
        tranition: all 100ms;
        //&:has()
      }
    }


    .searchbox__btn {
      animation: barExtend2 2s ease-in-out;
      border: none;
      display: flex;
      align-items: center;
      font-size: 1.4rem;
      color: white;
      padding: 0 2rem;
      height: 4.8rem;
      background-color: deepskyblue;
      opacity: .4;
      border-radius: 4rem;
      font-weight: bold;
    }

  }


}