//deploy시 이 영역 주석처리!!
body {
  background-color: white;
}

//deploy시 이 영역 주석처리!!


.stickergallery {
  height: calc(100vh - 8rem);
}

.stickergallery__pagination {
  position: relative;
  bottom: 0;
  height: 8rem;
  border-top: .1rem solid black;
}