//reset
@import url('/node_modules/scss-reset/reset.css');

//icon
@import url('/resources/icon.scss');

//font
@import url('https://fonts.cdnfonts.com/css/pp-neue-montreal');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");

body {
  position: relative;
  height: 140vh;
  background-color: #E0E0E0;
  //overflow: hidden;
  font-family: "PP Neue Montreal";

  a {
    color: black;
    text-decoration: none;
  }


  .discography__grid {
    width: 100vw;
    height: 120vh;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 1rem;
    background-color: #E0E0E0;

    .discography__item {
      display: flex;
      border-radius: 1rem;
      background-color: rgba(0, 0, 0, 0.08);
      padding: 1.2rem 1.2rem 1.2rem 0;

      &:hover {
        transition: .2s ease-in-out;
        background-color: #145ce1;

        a {
          color: white;
          transition: .2s ease-in-out;
        }

      }


      input {
        display: none;
      }

      label {
        display: flex;
        justify-content: space-between;
        color: black;
        text-decoration: none;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .discography__item--left {
          display: flex;
          flex-direction: column;
          gap: .6rem;
          padding: 1.2rem 0 1.2rem 2.4rem;

          span {
            font-size: 1.4rem;
          }

          h1 {
            font-size: 2rem;
          }
        }

        .discography__item--albumart {
          aspect-ratio: 1 / 1;
          background-size: cover;
        }

      }


      &:nth-child(1) {
        .discography__item--albumart {
          background-image: url("/resources/albumart/sos.webp");
        }
      }

      &:nth-child(2) {
        grid-column: span 2;
        grid-row: span 2;

        .discography__item--albumart {
          background-image: url("/resources/albumart/overture.jpg");
        }

      }

      &:nth-child(3) {
        .discography__item--albumart {
          background-image: url("/resources/albumart/overture.jpg");
        }
      }

      &:nth-child(4) {
        grid-column: span 2;
        grid-row: span 2;

        .discography__item--albumart {
          background-image: url("/resources/albumart/starpeggio.jpg");
        }
      }

      &:nth-child(5) {
        .discography__item--left {
          h1 {
            font-size: 1.6rem;
          }
        }

        .discography__item--albumart {
          background-image: url("/resources/albumart/moonlightspeed.webp");
        }
      }

      &:nth-child(6) {
        .discography__item--left {
          h1 {
            font-family: Pretendard;
          }
        }

        .discography__item--albumart {
          background-image: url("/resources/albumart/waitnight.webp");
        }
      }

      &:nth-child(8) {
        grid-column: span 2;

        .discography__item--albumart {
          background-image: url("/resources/albumart/midnightmission.webp");
        }
      }

      &:nth-child(7) {
        justify-content: center;
        align-items: center;

        span {
          font-size: 1.2rem;
        }
      }
    }

  }

  .nav {
    position: fixed;
    display: flex;
    gap: 10.3rem;
    left: calc(50vw - 12rem);
    bottom: 4rem;
    display: flex;
    //background-color: rgba(255, 255, 255, 0.2);
    width: 24rem;
    height: 10rem;
    padding: 1.6rem;
    border-radius: 1.6rem;
    backdrop-filter: blur(2rem);
    box-shadow: 0 1rem 1.4rem rgba(0, 0, 0, 0.1);

    .nav__symbols {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .nav__back {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.35);

        &:hover {
          background-color: rgba(255, 255, 255, 0.2);
          transition: .5s ease-in-out;
        }
      }

      .nav__symbol {
        width: 2.5rem;
        height: 2.5rem;
      }
    }

  }

}


.nav__items {
  display: flex;
  flex-direction: column;
  gap: .4rem;
  font-size: 1.2rem;

  .nav__item {
    color: #000;
    text-decoration: none;
    opacity: .5;
    font-weight: 500;

    &:nth-child(1) {
      opacity: 1;
    }

    &:hover {
      opacity: 1;
      transition: .2s ease-in-out;
    }

  }
}

//modal animation
@keyframes modalInteraction {
  0% {
    transform: translateY(-1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

//modal visible integration starts
input[id="item_sos"]:checked ~ .modal .modal__dim,
input[id="item_highway"]:checked ~ .modal .modal__dim,
input[id="item_overture"]:checked ~ .modal .modal__dim,
input[id="item_moonlightspeed"]:checked ~ .modal .modal__dim,
input[id="item_starpeggio"]:checked ~ .modal .modal__dim,
input[id="item_waitnight"]:checked ~ .modal .modal__dim,
input[id="item_midnightmission"]:checked ~ .modal .modal__dim {
  visibility: visible;
  opacity: 1;
}
input[id="item_sos"]:checked ~ .modal .modal__container,
input[id="item_highway"]:checked ~ .modal .modal__container,
input[id="item_overture"]:checked ~ .modal .modal__container,
input[id="item_moonlightspeed"]:checked ~ .modal .modal__container,
input[id="item_starpeggio"]:checked ~ .modal .modal__container,
input[id="item_waitnight"]:checked ~ .modal .modal__container,
input[id="item_midnightmission"]:checked ~ .modal .modal__container {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
//modal visible integration ends

//modal layout
.modal {
  visibility: hidden;
  position: absolute;
  //width 수정시 rem값 같이 수정
  //left: calc(50vw - 30rem);
  //top: 6rem;
  z-index: 10;
  left: 0;
  top: 0;

  //font size style
  h1 {
    font-size: 2.4rem;
  }


  .modal__dim {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transition: opacity 0.3s ease;
    //position: absolute;

    width: 100vw;
    height: 150vh;
    padding: 6rem 0;
    background-color: rgba(0, 0, 0, 0.3);
    overflow-y: hidden;

    .modal__close {
      position: relative;
      top: 2rem;
      right: 6rem;
      transition: opacity 0.3s ease;

      label {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3.2rem;
        height: 3.2rem;
        border-radius: 50%;
        background-color: #ffffff;
        box-shadow: 0 1rem 1.4rem rgba(0, 0, 0, 0.2);

        &:hover {
          background-color: rgba(255, 255, 255, 0.7);
          transition: .15s ease-in-out;
        }
      }
    }

    .modal__container {
      //size & position
      width: 60rem;
      background-color: #fff;
      border-radius: 2.4rem;
      box-shadow: 0 2rem 1.4rem rgba(0, 0, 0, 0.05);
      transform: translateY(-1rem);
      opacity: 0;
      transition: transform 0.3s ease, opacity 0.3s ease;

      .modal__yt {
        overflow: hidden;

        iframe {
          width: 100%;
          height: 24rem;
          border-radius: 2.4rem 2.4rem 0 0;
        }
      }

      .modal__area {
        display: flex;
        flex-direction: column;
        padding: 3.2rem;

        .modal__area--control {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-bottom: 2rem;

          span {
            font-size: 1rem;
          }

          a {
            display: flex;
            gap: .8rem;
            justify-content: center;
            align-items: center;
            padding: 1rem;
            border-radius: 1rem;
            text-transform: uppercase;
            color: white;
            background-color: black;
            box-shadow: 0 1rem 1.6rem 3px rgba(0, 0, 0, 0.15);

            svg {
              fill: #fff;
            }

            &:hover {
              border: 0;
              background-color: #35C969;
              transition: .2s ease-in-out;
              box-shadow: 0 1rem 2rem 3px rgba(0, 0, 0, 0.15);
            }

            span {
              font-weight: 500;
            }
          }
        }

        .modal__area--lists {
          display: flex;
          flex-direction: column;

          .modal__area--listitem-mv {
            border-radius: 1rem;
            padding: 1.4rem .8rem 1em .8rem;
            gap: .2rem;

            &:hover {
              background-color: rgba(0, 0, 0, 0.075);
              transition: .2s ease-in-out;
            }

            a {
              display: flex;
              width: fit-content;
              align-items: center;
              gap: .6rem;
              border-radius: 10rem;
              background-color: rgba(0, 0, 0, 0.075);
              color: black;
              font-weight: 500;
              padding: .4rem 1.2rem;

              &:hover {
                background-color: rgba(0, 0, 0, 0.2);
              }
            }

            .modal__area--listitem-mv_item {
              display: flex;
              font-size: 1.2rem;
              padding-bottom: 1.6rem;
              justify-content: space-between;

              .modal__area--listitem_title {
                display: flex;
                gap: 1.6rem;

                span:first-child {
                  opacity: .65;
                }

                span:last-child {
                  font-weight: 500;
                }
              }

              .modal__area--listitem_duration {
                width: 2rem;
                opacity: .65;
              }
            }
          }

          .modal__area--listitem {
            display: flex;
            padding: 1.6rem .8rem;
            font-size: 1.2rem;
            border-radius: 1rem;
            justify-content: space-between;

            &:hover {
              background-color: rgba(0, 0, 0, 0.075);
              transition: .2s ease-in-out;
            }

            .modal__area--listitem_title {
              display: flex;
              gap: 1.6rem;

              span:first-child {
                opacity: .65;
              }

              span:last-child {
                font-weight: 500;
              }
            }

            .modal__area--listitem_duration {
              width: 2rem;
              opacity: .65;
            }
          }
        }
      }
    }
  }
}